<form method="post" action="/">
  <fieldset>
    <label for="name">Task Name:</label>
    <input type="text" id="name" name="name"><br>
    <label for="description">Task Description:</label><br>
    <textarea rows="10" cols="50" id="description" name="description"></textarea>
  </fieldset>
	<input type="submit" id="submit" name="submit" class="submit" value="Add New Task">
</form>
