<form method="post" action="/update">
	<fieldset>
		<legend>Tasks to Complete</legend>
		<% @tasks.each do |task| %>
			<label><input type="checkbox" name="is_complete[]" value=<%= task.id %>> 
				<%= task.name %>
	  			<%if task.description.length > 0 %>
	  	- 		<%=task.description %>
	  			<% end %>
  				<%if task.completed_date.length > 0 %>
  					completed on <%= task.completed_date %>
  				<% end %>
		</label><br>
		<% end %>
	</fieldset>
	<input type="submit" name="complete" value="Mark Task(s) Complete" class="submit">
	<input type="submit" name="delete" value="Delete Task(s) Permanently" class="submit">
</form>
